<h2> Profile </h2>

<p> Hi <%= current_user.name  %>

<p>Link Karma: <%= Post.where(user_id: session[:user_id]).count  %></p>
<p>Comment Karma: <%= Comment.where(user_id: session[:user_id]).count  %></p>

<% @activity_feed.each do |item| %>
	<% if item.model_name.human == "Subscriber" %>
		<div style=" width: 800px; border: 1px solid #000; padding-top: 10px; margin-bottom: 10px;">
		<p><em> You subscribed to: </em>
		<%=link_to(item.subreddit.title,subreddit_path(item.subreddit))%> <em><%= time_ago_in_words(item.created_at)%> ago</em></p>
	</div>

	<% elsif item.model_name.human == "Post"%>
	<div style=" width: 800px; border: 1px solid #000; padding-top: 10px; margin-bottom: 10px;">
	<div id="<%=item.id%>" class="tar" style="width: 100px; display: inline-block;">
		<p class="vote_value" style="background: #f7f7f7; text-align: center;"> <%=PostVote.where(post_id: item.id).sum(:vote_val) %><p>
		<% if session[:user_id] %>
			<% vote_val = PostVote.where(user_id: session[:user_id], post_id: item.id).first.vote_val if PostVote.exists?(user_id: session[:user_id], post_id: item.id)%>

			<% if vote_val == 0 || vote_val == nil%>
			<% vote_up_class = 'in-active' %>
			<% vote_down_class = 'in-active' %>
			<% elsif vote_val == 1 %>
			<% vote_up_class = '' %>
			<% vote_down_class = 'in-active' %>
			<% elsif vote_val == -1 %>
			<% vote_up_class = 'in-active' %>
			<% vote_down_class = '' %>
			<% end %>
			<%= link_to("Vote Up",post_votes_path, :remote => true, :class => 'post_vote_up '+vote_up_class)%>
			<%= link_to("Vote Down",post_votes_path, :remote => true, :class => 'post_vote_down '+vote_down_class)%>
		<% end %>
	</div>

	<div style="display: inline-block;">
		<b>Title:</b> <%= link_to item.title, post_path(item)%> <br>
		<span style=""> <em>Submitted </em><%= time_ago_in_words(item.created_at)%><em> ago by</em> <%=item.user.name%> <em>to</em>
		<%=link_to(item.subreddit.title,subreddit_path(item.subreddit))%></span>
		<br><br>
		<b>Content:</b> <%= item.content %><br>
		<br>
	</div>
	</div>

	<% elsif item.model_name.human == "Comment" %>

	<div style=" width: 800px; border: 1px solid #000; padding-top: 10px; margin-bottom: 10px;">
	<div id="<%=item.id%>" class="tar" style="width: 100px; display: inline-block;">
		<p class="vote_value" style="background: #f7f7f7; text-align: center;"> <%=CommentVote.where(comment_id: item.id).sum(:vote_val) %><p>
		<% if session[:user_id] %>
			<% vote_val = CommentVote.where(user_id: session[:user_id], comment_id: item.id).first.vote_val if CommentVote.exists?(user_id: session[:user_id], comment_id: item.id)%>
			<% p "vote_val: " + vote_val.to_s %>
			<% if vote_val == 0 || vote_val == nil%>
			<% vote_up_class = 'in-active' %>
			<% vote_down_class = 'in-active' %>
			<% elsif vote_val == 1 %>
			<% vote_up_class = '' %>
			<% vote_down_class = 'in-active' %>
			<% elsif vote_val == -1 %>
			<% vote_up_class = 'in-active' %>
			<% vote_down_class = '' %>
			<% end %>
			<%= link_to("Vote Up",comment_votes_path, :remote => true, :class => 'comment_vote_up '+vote_up_class)%>
			<%= link_to("Vote Down",comment_votes_path, :remote => true, :class => 'comment_vote_down '+vote_down_class)%>
		<% end %>
	</div>
	<div style="display: inline-block;">
		<strong><%=item.user.name  %></strong> <em>said</em>: <%= item.content %><br>
		<span style=""><em><%= time_ago_in_words(item.created_at)%> ago</em></span><br>
	</div>
	</div>

	<% end %>
<% end %>