<h2>
	Hi, <%= current_user.name  %>!
</h2>
<p>
	Link Karma: <span class="badge"><%= Post.where(user_id: session[:user_id]).count  %></span>
</p>
<p>
	Comment Karma: <span class="badge"><%= Comment.where(user_id: session[:user_id]).count  %></span>
</p>
<div class="panel panel-default">
	<div class="panel-body">
		<h2>
			Your Activity Feed
		</h2><% if @activity_feed != [] %><% @activity_feed.reverse! %><% @activity_feed.each do |item| %><% if item.model_name.human == "Subscriber" %><%= render 'subscriber', item: item %><% elsif item.model_name.human == "Post"%><%= render 'post', item: item %><% elsif item.model_name.human == "Comment" %><%= render 'comment', item: item %><% end %><% end %><% else %>
		<h1>
			Just Joined!
		</h1><% p "hello" %>
		<p>
			Go To <a href="/">Home</a> To Start
		</p><% end %>
	</div>
</div>