
<h2> Hi, <%= current_user.name  %>!</h2>



<p>Link Karma: <span class="badge"><%= Post.where(user_id: session[:user_id]).count  %></span></p>
<p>Comment Karma: <span class="badge"><%= Comment.where(user_id: session[:user_id]).count  %></span></p>



<div class="panel panel-default">
  <div class="panel-body">
	<h2>Your Activity Feed</h2>


<% if @activity_feed != [] %>

<% @activity_feed.reverse! %>

	<% @activity_feed.each do |item| %>
		<% if item.model_name.human == "Subscriber" %>
		  
	<div class="panel panel-default">
  	<div class="panel-body">
		  
			<p><em> You subscribed to: </em>
			<%=link_to(item.subreddit.title,subreddit_path(item.subreddit))%> <em><%= time_ago_in_words(item.created_at)%> ago</em></p>
		</div>
	</div>

		<% elsif item.model_name.human == "Post"%>


<div class="panel panel-default">
  <div class="panel-body">

	<div class="row">
	<div id="<%=item.id%>" class="tar col-md-2 col-sm-2 col-xs-2 text-center" >

			<p class="vote_value"> <%=PostVote.where(post_id: item.id).sum(:vote_val) %></p>
				<% if session[:user_id] %>
						<% vote_val = PostVote.where(user_id: session[:user_id], post_id: item.id).first.vote_val if PostVote.exists?(user_id: session[:user_id], post_id: item.id)%>

						<% if vote_val == 0 || vote_val == nil%>
						<% vote_up_class = 'in-active' %>
						<% vote_down_class = 'in-active' %>
						<% elsif vote_val == 1 %>
						<% vote_up_class = '' %>
						<% vote_down_class = 'in-active' %>
						<% elsif vote_val == -1 %>
						<% vote_up_class = 'in-active' %>
						<% vote_down_class = '' %>
						<% end %>
						<p>
						<%= link_to(raw("<span class='glyphicon glyphicon-arrow-up icon'></span>"),post_votes_path, :remote => true, :class => 'post_vote_up '+vote_up_class)%>
						<%= link_to(raw("<span class='glyphicon glyphicon-arrow-down icon'></span>"),post_votes_path, :remote => true, :class => 'post_vote_down '+vote_down_class)%>
						<p>
					<% end %>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<% if item.link =~ /^https?:\/\/(?:[a-z\-]+\.)+[a-z]{2,6}(?:\/[^\/#?]+)+\.(?:jpg|gif|png)$/ %>
						<%= image_tag item.link, size:"90x90"%>
					<% elsif item.content %>
						<%= image_tag "http:/π/www.livebuzzreg.co.uk/common/images/placeholder-image-loading.png", size: "90x90" %>
					<% end %>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-8">
					<h3>
						<% if item.content  %>
							<%= link_to item.title, post_path(item) %>
						<% elsif item.link  %>
							<%= link_to item.title, item.link %>
							<em><%=link_to "view comments", post_path(item, :more_params => "link") %></em>
						<% end %>
					</h3>
					<span style=""> <em>Submitted </em><%= time_ago_in_words(item.created_at)%><em> ago by</em> <%=item.user.name%> <em>to</em>
					<%=link_to(item.subreddit.title,subreddit_path(item.subreddit))%></span>
				</div>

				</div>
			</div></div>





				<% elsif item.model_name.human == "Comment" %>


<div class="panel panel-default">
  <div class="panel-body">

	<div class="row">
	<div id="<%=item.id%>" class="tar col-md-2 col-sm-4 col-xs-4 text-center" >

					<p class="vote_value"> <%=CommentVote.where(comment_id: item.id).sum(:vote_val) %></p>
					<% if session[:user_id] %>
						<% vote_val = CommentVote.where(user_id: session[:user_id], comment_id: item.id).first.vote_val if CommentVote.exists?(user_id: session[:user_id], comment_id: item.id)%>
						<% p "vote_val: " + vote_val.to_s %>
						<% if vote_val == 0 || vote_val == nil%>
						<% vote_up_class = 'in-active' %>
						<% vote_down_class = 'in-active' %>
						<% elsif vote_val == 1 %>
						<% vote_up_class = '' %>
						<% vote_down_class = 'in-active' %>
						<% elsif vote_val == -1 %>
						<% vote_up_class = 'in-active' %>
						<% vote_down_class = '' %>
						<% end %>
						<p>
						<%= link_to(raw("<span class='glyphicon glyphicon-arrow-up icon'></span>"),comment_votes_path, :remote => true, :class => 'comment_vote_up '+vote_up_class)%>
						<%= link_to(raw("<span class='glyphicon glyphicon-arrow-down icon'></span>"),comment_votes_path, :remote => true, :class => 'comment_vote_down '+vote_down_class)%>
					</p>
					<% end %>
				</div>
				<div class="col-md-10 col-sm-6 col-xs-8">
					<h4>You said</em>: <%= item.content %><br></h4>
					<span style=""><em><%= time_ago_in_words(item.created_at)%> ago</em></span><br>
				</div>
				</div>
				</div></div>

			<% end %>

	<% end %>

<% else %>

	<h1>Just Joined!</h1>
	<% p "hello" %>
	<p>Go To <a href="/">Home</a> To Start</p>
<% end %>

</div></div>