	<div class="row">
	<div id="<%=@post.id%>" class="tar col-md-2 col-sm-4 col-xs-4 text-center" >

		<p class="vote_value"> <%=@vote_count_post %><p>
		<% if session[:user_id] %>
			<% vote_val = PostVote.where(user_id: session[:user_id], post_id: @post.id).first.vote_val if PostVote.exists?(user_id: session[:user_id], post_id: @post.id)%>
			<% if vote_val == 0 || vote_val == nil%>
			<% vote_up_class = 'in-active' %>
			<% vote_down_class = 'in-active' %>
			<% elsif vote_val == 1 %>
			<% vote_up_class = '' %>
			<% vote_down_class = 'in-active' %>
			<% elsif vote_val == -1 %>
			<% vote_up_class = 'in-active' %>
			<% vote_down_class = '' %>
			<% end %>
			<p>
			<%= link_to(raw("<span class='glyphicon glyphicon-arrow-up icon'></span>"),post_votes_path, :remote => true, :class => 'post_vote_up '+vote_up_class)%>
			<%= link_to(raw("<span class='glyphicon glyphicon-arrow-down icon'></span>"),post_votes_path, :remote => true, :class => 'post_vote_down '+vote_down_class)%>
		</p>
		<% end %>
	</div>
	<div class="col-md-10 col-sm-6 col-xs-8">
		<h3><%= @post.title %></h3>
		<p><%=@post.content  %></p>
	</div>
</div>

<% if session[:user_id] == @post.user_id %>
	<%= form_for([@post]) do |f| %>
		<%= f.label :content  %>
		<%= f.text_area :content %>
		<br><br>

		<%= f.submit  %>
	<% end%>
	<%=link_to("Delete", post_path, method: :delete) %>
<% end %>

<hr>
<h3>Add a comment </h3>
<%= form_for :comments, url: post_comments_path(@post), :class => 'form-group' do |f| %>
	<%= f.text_area :content, size: "10x4", :class => 'form-control' %>
	<br><br>

	<%= f.submit 'Comment', :class => 'btn btn-default'  %>
<% end%>
<hr>
<% @vote_count_arr.reverse! %>
<% @post.comments.reverse.each_with_index do |comment,index| %>



  <div class="well rm-pad">

	<div class="row">
	<div id="<%=comment.id%>" class="tar col-md-2 col-sm-4 col-xs-4 text-center" >

		<p class="vote_value"> <%=@vote_count_arr[index] %></p>
		<% if session[:user_id] %>
			<% vote_val_com = CommentVote.where(user_id: session[:user_id], comment_id: comment.id).first.vote_val if CommentVote.exists?(user_id: session[:user_id], comment_id: comment.id)%>
			<% p "vote_val: " + vote_val_com.to_s %>
			<% if vote_val_com == 0 || vote_val_com == nil%>
			<% com_vote_up_class = 'in-active' %>
			<% com_vote_down_class = 'in-active' %>
			<% elsif vote_val_com == 1 %>
			<% com_vote_up_class = '' %>
			<% com_vote_down_class = 'in-active' %>
			<% elsif vote_val_com == -1 %>
			<% com_vote_up_class = 'in-active' %>
			<% com_vote_down_class = '' %>
			<% end %>
			<p>
			<%= link_to(raw("<span class='glyphicon glyphicon-arrow-up icon_comment'></span>"),comment_votes_path, :remote => true, :class => 'comment_vote_up '+com_vote_up_class)%>
			<%= link_to(raw("<span class='glyphicon glyphicon-arrow-down icon_comment'></span>"),comment_votes_path, :remote => true, :class => 'comment_vote_down '+com_vote_down_class)%>
		</p>
		<% end %>
	</div>
	<div class="col-md-10 col-sm-6 col-xs-8">
		<h4><%=comment.user.name  %></strong> <em>said</em>: <%=  comment.content %></h3>
		<span style=""><em><%= time_ago_in_words(comment.created_at)%> ago</em></span><br>
	</div>

</div>
</div>

<% end %>

<%= link_to 'Back', '/'  %>